@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');




*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  overflow-x: hidden;
  margin: 0;
}

h1 {
  margin: 10px;
}

.box {
  background-color: rgb(223, 218, 218);
  margin: 10px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  box-shadow: 2px 4px 5px rgb(3, 3, 3, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}


.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 30px;
}